dash[diskcache,async]~=3.2
dash-mantine-components~=2.3
dwave-ocean-sdk~=9.0
pycryptodome
flask
requests
pandas
numpy<2.4  # Pending bugfix for dwave-samplers
pytest
matplotlib
git+https://github.com/jackraymond/dwave-experimental@feature/automorphism_composite#egg=dwave-experimental  # Pull request approval pending
